:root {
	/* Text colors */
		--main-txt-cl: #303030;
		--accent-txt-cl: #ff6c00;
		--light-txt-cl: #ffffff;
		--dark-txt-cl: #555555;

		/* Fonts */
			--main-font: 'Open Sans', sans-serif;
			--secondary-font: 'Raleway', sans-serif;

			/* BG colors */
				--dark-bg-cl: #191c26;
				--accent-bg-cl: #FF6C00;
				--light-cl: #FFFFFF;
}

/* Base styles */

img {
	display: block;
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.link {
	text-decoration: none;
	color: currentColor;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.body {
	font-family: var(--main-font)
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}